:root {
    --colorBackground: grey;
    --colorMain: #ffffff;
    --colorAccent: green;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--colorMain);

}

.box {
    height: 320px;
    width: 320px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: var(--colorBackground);
}

.field {
    width: 100px;
    height: 100px;

    background-color: var(--colorMain);
}

#f2, #f5, #f8 {
    margin-left: 10px;
    margin-right: 10px;
}

#f1, #f2, #f3, #f4, #f5, #f6 {
    margin-bottom: 10px;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}